.QRCodePage {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {

  .QRCodePage {
    flex-direction: column-reverse;
  }
}